$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #fcc419;
$color-secondary-dark: #e67700;

$color-tertiary-light: #5c7cfa;
$color-tertiary: #498ffd;
$color-tertiary-dark: #364fc7;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #868686;
$color-grey-very-light: #c5c5c5;

$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
$gutter-horizontal-small: 1rem;

$margin-bottom-large: 8rem;
$margin-bottom-medium: 5rem;
$margin-bottom-small: 1rem;
